@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Pokemon Hollow";
  font-style: normal;
  font-weight: normal;
  src: local("PokemonHollow"),
    url(./assets/fonts/PokemonHollow.ttf) format("truetype");
}
@font-face {
  font-family: "Pokemon Solid";
  font-style: normal;
  font-weight: normal;
  src: local("PokemonSolid"),
    url(./assets/fonts/PokemonSolid.ttf) format("truetype");
}
@font-face {
  font-family: "PokemonOR";
  font-style: normal;
  font-weight: normal;
  src: local("OmegaRuby"), url(./assets/fonts/OmegaRuby.ttf) format("truetype");
}
@font-face {
  font-family: "GB";
  font-style: normal;
  font-weight: normal;
  src: local("GB"), url(./assets/fonts/GB.ttf) format("truetype");
}
@font-face {
  font-family: "Ketchum";
  font-style: normal;
  font-weight: normal;
  src: local("Ketchum"), url(./assets/fonts/Ketchum.ttf) format("truetype");
}

#root {
  font-family: "Ketchum";
  min-height: 100%;
  min-height: 100vh;

  & .infinite-scroll-component__outerdiv {
    width: 100%;
  }
}
